* {box-sizing: border-box;}

.group:after{content: ""; display: table; clear:both}

.contenitore-pagina {background: black; max-width: 1200px; margin:auto}
body {background-color: black;}

header {display: flex; 
    flex-wrap: nowrap;
    background: #C29B54 ;  
    justify-content:space-between;
    padding: 0px 20px
}


nav{display:flex}
.tenda{width: 100px; position: relative; justify-content: center; right: 200%; }
.tenda a {color: black; display:block; text-decoration: none; }
.tenda-el{height: 50px;padding: 15px; justify-content: center; }
.tenda-el:hover{background: gainsboro}
.tenda:hover {max-height: 500px;}

.logo{height:50px}
.logo img{height: 50px}


